.textInput {
	border-width: 3px;
	border-color: black;
}

.bold {
	font-weight: bold;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.outlined {
	border-width: 2px;
	border-color: white;
}

.sm {
	font-size: 12px;
}

.headerTitle {
	font-family: Impact, sans-serif;
	font-size: x-large;
}

.menuTitle {
	font-family: Verdana, sans-serif;
	font-size: large;
}